<h3 class="center"> <%=@survey.title%> </h3>
<% @survey.questions.each do |question|%>
<div class=" col-md-4 col-md-offset-4 col-xs-3">
  <p><%= question.content%></p>
  <% if question.answer_type != "text"%>
    <ul>
      <% question.answers.each do |answer|%>
        <li>
    	  <%= answer.content%>
        </li>
      <%end%>
    </ul>
  <%end%>
</div>
<%end%>
<div class=" col-md-4 col-md-offset-4 col-xs-3">
<p>Share the following link with your audience to fill the survey</p>
<%= link_to "Fill survey", fill_survey_path(@survey), target: "_blank"%>
</div>

<%if user_signed_in? and current_user.id == @survey.user_id%>
  <div class="col-md-4 col-md-offset-4">
	<%= link_to "Add more questions", add_question_path(@survey), class: "btn btn-default" %>
  </div>
<%end%>