<%if user_signed_in? and current_user.id == @survey.user_id%>
  <div class="container">
    <h3 class="center"> <%=@survey.title%> <%=link_to "Edit title", edit_survey_path(@survey), class: "btn btn-sm btn-default"%></h3>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Question</th>
          <th>Number of options</th>
          <th>Type</th>
          <th>Options</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @survey.questions.each do |question|%>
          <%= render partial: "question", locals:{question: question}%>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="container" id="actions">
    <div class="row row-grid ">
  	  <h4>Need to add more questions? <br/><br/><%= link_to "Add more questions", add_question_path(@survey), class: "btn btn-default" %></h4>
    </div>
    
  </div>
  <div class="container" id="survey_answers">
    <div class="row row-grid ">
      <h4>List of Survey Answers</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-1">ID</th>
              <th class="col-md-6">Question</th>
              <th class="col-md-6">Answer</th>
            </tr>
          </thead>
          <tbody>
            <% @survey.filled_surveys.each do |fs|%>
              <%= render partial: "filled_survey", locals:{filled_survey: fs} %>
            <%end%>
          </tbody>
        </table>
    </div>
  </div>
  <div class=" container">
    <div class="row row-grid ">
      <h4>Share the following link with your audience to fill the survey</h4>
      <%= link_to "Fill survey", fill_survey_path(@survey), target: "_blank", class: "btn btn-info"%>
    </div>
    <div class="row row-grid ">
      <h4>Do you need to delete the survey?</h4>
      <%= button_to "Delete Survey", survey_path(@survey), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger"%>
    </div>
  </div>
<%else%>
  <div class="container center">
    <h3> <%=@survey.title%></h3><br><br>
    <h4> Click below to fill the survey</h4>
    <%= link_to "Fill survey", fill_survey_path(@survey), class: "btn btn-info"%>
  </div>
<%end%>

